.card {
  display: flex;
  gap: 15px;
}
.card-image > img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.card-name {
  margin-top: 10px;
}
.card-name > h4 {
  color: grey;
  font-size: 13px;
}
